
{{ define "main" }}
<script src="{{ "/js/w3.js" | relURL }}"></script>
<div class="adventure-box">
{{ .Content | markdownify }}



<p>
<input oninput="w3.filterHTML('#id01', '.item', this.value)" class="w3-input" placeholder="Introduce tu búsqueda">
</p>
<div style="overflow-x:auto;">
<table id="id01" class="w3-table-all w3-hoverable">
  <tr class="w3-green" style="white-space:nowrap;">
    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(1)')" style="cursor:pointer">{{ T "poststitle"}} <i class="fa fa-sort" style="font-size:13px;"></i></th>
    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(2)')" style="cursor:pointer">{{ T "postsauthor"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>

    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(3)')" style="cursor:pointer">{{ T "postsminlevel"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>
    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(4)')" style="cursor:pointer">{{ T "postsmaxlevel"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>

    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(5)')" style="cursor:pointer">{{ T "postsmincharacter"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>
    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(6)')" style="cursor:pointer">{{ T "postsmaxcharacter"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>

    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(7)')" style="cursor:pointer">{{ T "postseval"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>
    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(8)')" style="cursor:pointer">{{ T "postssession"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>
    <th onclick="w3.sortHTML('#id01', '.item', 'td:nth-child(9)')" style="cursor:pointer">{{ T "postsprice"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>


    <th onclick="w3.sortHTML('#id09', '.item', 'td:nth-child(2)')" style="cursor:pointer">{{ T "postsdate"}} <i class="fa fa-sort" style="font-size:13px;"></i>&nbsp;&nbsp;</th>
  </tr>
  {{range where .Site.RegularPages "Section" "posts"}}
  <tr class="item ">
    <td><a href="{{.Permalink}}">{{.Title}}</a></td>
    <td>{{ with .Params.authors }}{{ range . }}{{.}} {{end}}{{end}}</td>

    <td>{{ .Params.minlevels }}</td>
    <td>{{ .Params.maxlevels }}</td>

    <td>{{ .Params.mincharacters }}</td>
    <td>{{ .Params.maxcharacters }}</td>

    <td>{{.Params.eval}}</td>
    <td>{{ .Params.session }}</td>
    <td>{{.Params.prices}}</td>


    <td>{{ .Date.Format "2006/01/02" }}</td>
  </tr>
  {{end}}

</table>
</div>
</div>
{{ end }}
